<!DOCTYPE html>
<html lang="zh">
<head>
<title>优酷转mp3</title>
<meta name="robots" content="index,follow">
<meta name="keywords" content="youku,优酷,mp3,转换,下载">
<meta name="description" content="在线转换优酷视频为mp3格式，无需注册，免费使用。">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="/static/css/index.css">
</head>
<body>
 <div id="nav">
  <ul>
   <li><a href="/">首页</a></li>
<li><a href="/news/">新闻</a></li>
<li><a href="/developers/">站长</a></li>
  </ul>
  <div class="clear"></div>
 </div>
 {% block content %} {% endblock %}
 <div id="footer">
  <p>
   &copy; ykmp3.com 2017
  </p>
  <p>
   <a href="/contact/">联系我们</a>
   <a href="/termsofuse/">使用条款</a>
  </p>
 </div>
 <script type="text/javascript" src="/static/js/jquery-3.2.1.min.js"></script>
 <script type="text/javascript" src="/static/js/ads.js"></script>
 <script type="text/javascript" src="/static/js/languages/default.js"></script>
 <script type="text/javascript" src="/static/js/converter.js"></script>
 <script type="text/javascript" src="/static/js/page.js"></script>
</body>
</html>
