{% extends "base.html" %}
{% block content %}
 <div id="content">
  <a href="/"><img id="logo" src="/static/images/logo.png" alt=""></a>   
  <div id="converter_wrapper">
  <div id="text">
   <h1>优酷转mp3使用条款</h1>
<p>以下条款和条件规定了对ykmp3.com（以下简称“ykmp3”）提供的服务的使用。</p>

<p>1. ykmp3的使用受中国法律管辖，需要考虑以下修改和解释。</p>

<p>Ykmp3自愿提供技术服务。因此，ykmp3对于服务不受限制或永久可用的服务不承担责任。</p>

<p>3. Ykmp3只能用于私人用途。严禁使用ykmp3的任何商业用途。</p>

<p>4. Ykmp3仅用于访问由授权的第三方发布到主机平台上的内容。用户有义务检查有关内容的各自权限。</p>

<p>5.禁止以任何其他方式转换色情内容或其它侵犯权利的内容。此外，禁止转换不公开的文件。如果通过下载内容已经违反了第三方权利，用户在处理有关数据时对此负全部责任。</p>

<p>6.禁止以其它任何方式扫描、渗透ykmp3的系统或服务。</p>

<p>7. ykmp3的唯一目的是为用户的私人使用（“合理使用”）创建可下载的在线内容的副本。任何进一步使用由ykmp3发送的内容，特别是但不完全使内容可公开访问或商业使用的内容必须与相应下载内容的权利持有者一致。用户对与ykmp3发送的数据相关的所有操作承担全部责任。 Ykmp3不授予内容的任何权利，因为它仅作为技术服务提供商。</p>

<p>8.用户负责检查使用ykmp3的合法性。 Ykmp3只提供技术服务。因此，ykmp3不会通过ykmp3向用户或任何第三方承担下载内容的允许性。</p>

<p>9.我们的平台包含第三方外部网站的链接，其内容不受我们的影响。因此，我们不能对此内容负责。责任在于相关网站的提供者或主持人。所有链接网站在建立链接时被检查侵犯权利。当时没有怀疑非法内容。但是，如果没有任何侵权行为的具体证据，连续检查链接的网站是不合理的。如果我们知道任何侵权行为，我们将立即删除此类链接。</p>

<p>10.如果本条款和条件的个别条款成为或无效，则不影响其余条款的有效性。无效条款应由尽可能准确地规定无效条款的预期目的的替代规定所取代。</p>

<p>如果可以受理，法定地点应为中国北京。</p>
  </div>
 </div>
 {% endblock %}
